@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------Media Queries--------------- */

/* 
.infinite-scroll-component {
  height: 100% !important;
  overflow: scroll !important;
}
.infinite-scroll-component::-webkit-scrollbar {
  display: none;
} */

@media screen and (max-width: 1120px) {
  .detail-container {
    font-size: small !important;
    overflow: hidden;
  }
  .movie-poster {
    height: 50%;
  }
  .detail-container h1,
  h2 {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 1050px) {
  .header-list {
    font-size: 14px;
    margin-right: 0;
  }
  .detail-container h2 {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 900px) {
  .search-bar {
    width: 30%;
  }
  .header-list {
    font-size: 14px;
    margin-right: 0;
    gap: 15px;
  }
}
@media screen and (max-width: 750px) {
  .header h2 {
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }
  .search-bar {
    width: 30%;
  }
  .header-list {
    font-size: 14px;
    margin-right: 0;
    gap: 35px;
  }
  .header-list span {
    display: none;
  }
  .infinite-scroll-container {
    gap: 55px;
    justify-content: center;
  }
  .detail-container {
    flex-direction: column;
    overflow: auto !important;
  }
  .detail-container::-webkit-scrollbar {
    display: none;
  }
  .movie-description {
    text-align: center;
    width: 100%;
  }
  .movie-info {
    display: flex;
    justify-content: center;
  }
  .sub-info {
    justify-content: center;
  }
  .movie-genres {
    justify-content: center;
  }
  .movie-poster {
    height: 24rem;
    width: 20rem;
  }
  .detail-container h1,
  h2 {
    font-size: 2.75rem !important;
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 650px) {
  .search-bar {
    width: 30%;
  }
  .header-list {
    font-size: 14px;
    margin-right: 0;
    gap: 25px;
  }
}
